<div class="span10">
    <h2>My Images</h2>
    <div ng-repeat="img in images">
        <img ng-src="api/Image/{{img._id}}"/>
        <br>
        {{img}}
    </div>
    <form class="form-horizontal" action="/image/upload" ng-upload method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload new image</legend>
            <div class="control-group">
                <label class="control-label" for="file">Select image</label>
                <div class="controls">
                    <input id="file" name="file" class="input-file" type="file">
                    <button type="submit" id="btnUpload" name="btnUpload" class="btn btn-success">Upload</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>